h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
}

input[type="submit"]:hover{
    background-color: blue;
    color: #ddd;
    cursor: pointer;
}
#results {
    margin-top: 20px;
    display: none;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}