* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(0, 0, 0); */
}
/*-- ============== Body ================= -*/
a{
    text-decoration: none;
}
body{
    background: #000;
}

/* ============== Header ================= */

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav__header-image{
    position: absolute;
    left: 200px;
    top: 30px;
}

.nav__header-meanu{
    display: flex;
    margin-top: 30px;
    margin-left: 750px;
    gap: 70px;
}

.nav__header-meanu-element a{
    color: #fff;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
}

.nav__header-meanu-element a:hover{
    background-color: #201f1f;
    cursor: pointer;
}

.nav__header-meanu-button{
    position: relative;
    top: -12px;
}
.nav__header-meanu-button button{
    color: #fff;
    font-size: 20px;
    background-color: rgb(91, 86, 86);
    padding: 10px 40px;
    border-radius: 10px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.nav__header-meanu-button button:hover{
    background-color: #5050c9;
    cursor: pointer;
}
/* ============== Beats ================= */
.beats{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.nav__beats-left{
    position: relative;
    top: -180px;
    left: -30px;
}

    /* ================ Beats Right ================ */
.nav__beats-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    top: -40px;
}

.nav__beats-right-text{
    color: #fff;
}

.nav__beats-right-text h2{
    font-size: 60px;
}

.nav__beats-right-text h4{
    font-size: 30px;
}

.nav__beats-right-text span{
    line-height: 30px;
}

.nav__beats-right-text button{
    background-color: #1d1c1ce1;
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border-right: .1px solid #fff;
    border-bottom: .1px solid #fff;
}

.nav__beats-right-text button:hover{
    background-color: #5050c9;
    cursor: pointer;
}
/* ============== Logo ================= */

.logo{
    display: flex;
    justify-content: center;
    gap: 200px;
}

/* ============== Specs ================= */
.specs{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}

.nav__specs{
    display: flex;
    gap: 200px;
    /* margin-top: 50px; */
}

.nav__specs-functions{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav__specs-functions-content{
    color: #fff;
    line-height: 30px;
}

.shift{
    position: relative;
    left: 50px;
}

.nav__specs-functions-content h3{
    font-size: 25px;
}

.nav__specs-functions-content h4{
    font-size: 15px;
}

.nav__specs-right-img{
    margin-top: 50px;
}
.nav__specs-right-img img{
    height: 550px;
    width: 400px;
}

/* ============== Case ================= */
.case{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    margin-top: 100px;
}

.nav__case{
    display: flex;
    gap: 100px;
    /* margin-top: 20px; */
}

.nav__case-textarea{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.nav__case-text span{
    color: #fff;
    line-height: 30px;
    font-size: 18px;
}

.nav__case-button button{
    display: flex;
    color: #fff;
    font-size: 20px;
    background-color: #1d1c1ce1;
    border-radius: 10px;
    padding: 15px 30px;
    align-items: center;
}

.nav__case-button button:hover{
    background-color: #5050c9;
    cursor: pointer;
}
/* ============== Buy Now ================= */
.buynow{
    display: flex;
    gap: 150px;
    height: 450px;
    width: 1400px;
    background-color: #232222e1;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 300px;
    top: 200px;
    border-radius: 20px;
}

.nav__buynow-textarea{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-size: 20px;

}

.nav__buynow-text{
    overflow: hidden;
}

.nav__buynow-text h1{
    height: 100px;
    margin-bottom: -25px;
}

.nav__buynow-text h3{
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav__buynow-text-button{
    padding-top: 20px;
    position: relative;
    top: -20px;
}
.nav__buynow-text-button button{
    display: flex;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 30px;
    align-items: center;
    background-color: #000;
}

.nav__buynow-text-button button:hover{
    background-color: #5050c9;
    cursor: pointer;
}

.nav__buynow-rightside{
    width: fit-content;
    height: 350px;
}

.nav__buynow-rightside img{
    height: 350px;
}

/* =================== Choose your style ======================= */
.style{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
    gap: 50px;
}

.nav__style{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
}

.product-item{
    background: #1e1e1e;
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    height: 300px;
}

.product-item img{
    position: relative;
    top: -90px;
    left: 30px;
}

.details{
    display: flex;
    color: #fff;
    position: relative;
    top: -90px;
    left: 50px;
}

.details img{
    position: relative;
    top: 10px;
    left: 100px;
    height: 25px;
}

/* ================ Footer ==================== */
.footer{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    height: 450px;
    padding-top: 150px;
}

.nav__footer-text{
    color: #fff;
    line-height: 40px;
}

.nav__footer-socialmedia{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav__footer-socialmedia-email{
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 50px;
    background-color: #232222e1;
    padding: 12px 30px;
    border-radius: 10px;
    width: 20vw;
}

.nav__footer-socialmedia-email-text h2{
    position: relative;
    top: 10px;
}

.nav__footer-socialmedia-email-button button{
    color: #fff;
    font-size: 20px;
    background-color: black;
    padding: 10px 25px;
}

.nav__footer-socialmedia-email-button img{
    position: relative;
    left: -15px;
}

.nav__footer-socialmedia-logo{
    display: flex;
    gap: 25px;
}
.nav__footer-scrollup{
    border: solid #ffff;
    height: 4.7vh;
    border-radius: 7px;
    transition: .2s;
}
.nav__footer-scrollup:hover{
    border: solid #ba0a0a;
    transform: translateY(-5px);
    cursor: pointer;
}


