*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
}

body{
    height: max-content;
}

.Subtitle{
    display: flex;
    font-weight: 500;
    font-size: 180%;
    justify-content: center;
}

.frame-1{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    border-radius: 30px;
    padding-top: 8px;
    font-size: 55px;
    font-weight: 800;
    align-items: center;
}

.frame-2{
    display: flex;
    flex-direction: column;
    background-color: #14a029;
    height: 100vh;
    width: 100vw;
    border-radius: 30px;
}

.nav__frame-2{
    display: flex;
    padding-top: 8px;
    font-size: 55px;
    font-weight: 800;
    justify-content: center;
}

.frame-3{
    display: flex;
    flex-direction: column;
    background-color: #a76c06;
    height: 100vh;
    width: 100vw;
    border-radius: 30px;
}
.nav__frame-3{
    display: flex;
    padding-top: 8px;
    font-size: 55px;
    font-weight: 800;
    justify-content: center;
}

.frame-4{
    display: flex;
    flex-direction: column;
    background-color: #11c4a0;
    height: 100vh;
    width: 100vw;
    border-radius: 30px;
}

.nav__frame-4{
    display: flex;
    padding-top: 8px;
    font-size: 55px;
    font-weight: 800;
    justify-content: center;
}
.frame-5{
    display: flex;
    flex-direction: column;
    background-color: #ed220b;
    height: 100vh;
    width: 100vw;
    border-radius: 30px;
}
.nav__frame-5{
    display: flex;
    padding-top: 8px;
    font-size: 45px;
    font-weight: 800;
    justify-content: center;
}


/* ==================Media Query==================== */

/* ============== For screen size above 1440================ */
@media screen and (min-width: 1440px){
    .frame-2{
        display: none;
    }
    .frame-3{
        display: none;
    }
    .frame-4{
        display: none;
    }
    .frame-5{
        display: none;
    }
}

/* ============== For screen size between 1024-1440================ */
@media screen and (min-width: 1024px) and (max-width:1440px){
    .frame-1{
        display: none;
    }
    .frame-3{
        display: none;
    }
    .frame-4{
        display: none;
    }
    .frame-5{
        display: none;
    }
}

/* ============== For screen size between 768-1024================ */
@media screen and (min-width: 768px) and (max-width:1024px){
    .frame-1{
        display: none;
    }
    .frame-2{
        display: none;
    }
    .frame-4{
        display: none;
    }
    .frame-5{
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width:810px){
        .nav__frame-3{
            font-size: 50px;
            font-weight: 800;
        }
    }
}

/* ============== For screen size between 425-768 ================ */
@media screen and (min-width: 425px) and (max-width:768px){
    .frame-1{
        display: none;
    }
    .frame-2{
        display: none;
    }
    .frame-3{
        display: none;
    }
    .frame-5{
        display: none;
    }

    @media screen and (min-width: 556px) and (max-width:673px){
        .nav__frame-4{
            font-size: 45px;
            font-weight: 800;
        }
    }

    @media screen and (min-width: 425px) and (max-width:556px){
        .nav__frame-4{
            font-size: 35px;
            font-weight: 800;
        }
    }
}

/* ============== For screen size below 425================ */
@media screen and (max-width:425px){
    .frame-1{
        display: none;
    }
    .frame-2{
        display: none;
    }
    .frame-3{
        display: none;
    }
    .frame-4{
        display: none;
    }

    @media screen and (max-width:302px){
        .nav__frame-5{
            font-size: 30px;
            font-weight: 800;
        }
    }
}

