* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: rgb(208, 214, 213);
}

/* =============header=================== */
.bgc{
    background-image: url(/assets/photos/mainBackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 140vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.header{
    display: flex;
    flex-direction: column;
}

.nav__header{
    display: flex;
    justify-content: space-between;
}

.nav__header-img{
    margin-left: 250px;
}
.nav__header-text{
    display: flex;
    gap: 80px;
    color: #fff;
    font-size: 20px;
    margin-right: 250px;
    margin-top: 30px;
}

.nav__header-baseline{
    background-color: #fff;
    height: 0.5vh;
    border-radius: 10px;
    width: 77vw;
    margin-left: 250px;
    position: relative;
    top: 10px;
}

/*-- ===================== Main ===================== */
.main{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    position: relative;
    top: -300px;
}

.nav__main{
    color: #fff;
}

.nav__main h1{
    font-size: 10vh;
}

.nav__main h3{
    font-weight: 100;
    margin: 20px 0px;
}

.nav__main button{
    background-color: rgb(73, 73, 244);
    color: #fff;
    height: 30px;
    width: 120px;
    border-radius: 20px;
}

.nav__main-footer{
    display: flex;
    justify-content: space-around;
    height: 130px;
    width: 90vw;
    border-radius: 20px;
    background-color: #fff;
    color: rgb(73, 73, 244);
    position: relative;
    left: 100px;
    top: 60px;
    padding-top: 50px;
}

/* ================= MY Work====================== */
.mywork{
    /* background-color: rgb(208, 214, 213); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
}

.mywork-heading{
    padding-top: 50px;
    font-size: 35px;
    position: relative;
    top: 50px;
}

.template{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    gap: 100px 20px;
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail img{
    width: 30vw;
    height: 55vh;
    border-radius: 20px;
}

.nav__detail{
    background-color: #fff;
    height: 7vh;
    width: 20vw;
    border-radius: 15px;
    position: relative;
    top: -30px;
    padding-left: 10px;
}

.nav__detail button{
    position: relative;
    left: 270px;
    top: -36px;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(73, 73, 244);
}

.nav__detail h2{
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
}

.nav__detail h3{
    padding-left: 20px;
    color: rgb(73, 73, 244);
}

.img2{
    position: relative;
    top: 25px;
}

.img3{
    position: relative;
    top: 50px;
}

.img5{
    position: relative;
    top: -25px;
}

.img6{
    position: relative;
    top: -50px;
}

.img8{
    position: relative;
    top: 25px;
}

.img9{
    position: relative;
    top: 50px;
}

/* =================== Easy Book-1 =========================== */

.easilybook1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 200px;
}

.nav__easilybook1-left{
    background-color: rgb(73, 73, 244);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 50vh;
    width: 50vw;
    position: absolute;
    left: -500px;
    display: flex;
    flex-direction: column;
}

.easilybook-img{
    height: 40vh;
    width: 27vw;
    z-index: 2;
    position: relative;
    left: 350px;
    border-radius: 40px;
    position: relative;
    left: -28px;
    top: -110px;

}

.nav__easilybook1-left div{
    background-color: #fff;
    height: 40vh;
    width: 55vh;
    border-radius: 40px;
    position: relative;
    left: 400px;
    z-index: 1;
    /* top: 0px; */
}
.easilybook{
    position: relative;
    top: 15px;
    left: 100px;
}

.nav__easilybook{
    color: black;
    margin-right: 50px;
}

.nav__easilybook h1{
    font-size: 80px;
}
/* =================== Easy Book-2 =========================== */

.easilybook2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 550px;
}

.nav__easilybook2{
    color: black;
    /* margin-right: 50px; */
    position: relative;
    top: -600px;
    left: -150px;
}

.easilybook2-img{
    height: 40vh;
    width: 27vw;
    z-index: 2;
    position: relative;
    left: 350px;
    border-radius: 40px;
    position: relative;
    left: 27px;
    top: -110px;
}

.nav__easilybook2-right{
    background-color: rgb(73, 73, 244);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 50vh;
    width: 50vw;
    position: absolute;
    right: -500px;
    display: flex;
    flex-direction: column;
}

.nav__easilybook2-right div{
    background-color: #fff;
    height: 40vh;
    width: 55vh;
    border-radius: 40px;
    position: relative;
    left: 100px;
    z-index: 1;
}

/* =================== Subscribe Portion =========================== */

.subscribe{
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 244);
    height: 50vh;
    width: 70vw;
    position: relative;
    top: 750px;
    margin-bottom: 100px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}

.nav__subscribe{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__subscribe h1{
    font-size: 7vh;
    margin-bottom: 30px;
}

.nav__subscribe h3{
    font-weight: 100;
}

.nav__subscribe input{
    margin-top: 30px;
    background-color: rgb(46, 46, 243);
    border: none;
    height: 4vh;
    width: 20vw;
    border-radius: 20px;
    position: relative;
    left: -150px;
    color: rgb(236, 236, 240);
}

.nav__subscribe button{
    background-color: rgb(236, 236, 240);
    color: rgb(73, 73, 244);
    border: none;
    height: 4vh;
    width: 7vw;
    border-radius: 20px;
    position: relative;
    left: 150px;
    top: -35px;
    font-weight: 900;
}

/*-- ================= Footer =================== */
.footer{
    display: flex;
    justify-content: space-around;
    gap: 180px;
    height: 450px;
    padding-top: 150px;
    position: relative;
    top: 600px;
}

.nav__footer-text{
    color: black;
    line-height: 40px;
}

.nav__footer-socialmedia{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav__footer-socialmedia-email{
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 50px;
    background-color: #232222e1;
    padding: 12px 30px;
    border-radius: 10px;
    width: 20vw;
}

.nav__footer-socialmedia-email-text h2{
    position: relative;
    top: 10px;
}

.nav__footer-socialmedia-email-button button{
    color: #fff;
    font-size: 20px;
    background-color: black;
    padding: 10px 25px;
}

.nav__footer-socialmedia-email-button img{
    position: relative;
    left: -15px;
}

.nav__footer-socialmedia-logo{
    display: flex;
    gap: 25px;
}
