* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: rgb(238, 241, 245);
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../assets/photos/mainBackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 140vh;
    width: 100%;
    position: relative;
}

/* ================== Navigation Section ========================= */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    width: 90%;
    margin: auto;
    border-bottom: 3px solid white;
}

nav img {
    height: 60px;
    padding: 7px 20px;
    position: relative;
    left: -120px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: white
}
nav ul li a:hover{
    font-weight: 800;
    color: rgb(223, 219, 219);
}

main {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: absolute;
    left: 15%;
    top: 35%;
}

main h1 {
    font-size: 50px;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

main p {
    color: white;
    margin-bottom: 15px;

}

main button {
    background-color: rgb(104, 101, 240);
    padding: 10px 23px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    color: white;
}
main button:hover{
    background-color: white;
    color: rgb(104, 101, 240);
    box-shadow: 0px 0px 10px 3px rgb(104, 101, 240);
}

/* ======================= logo container ================================== */
.logo-container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 50px;
    border-radius: 20px;
}

.logo-container img {
    height: 30px;
}

/* ======================= main-card-container =============================*/
.main-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.main-card-container h1 {
    font-size: 50px;
    text-align: center;
}

.individual-card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 295px;
    width: 260px;
    position: relative;
    margin-top: 50px;
}

.individual-card-item img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


.individual-card-item .details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*=========================== details ========================= */

.text-details p:first-child {
    color: black;
    font-weight: 700;
}

.text-details p:last-child {
    color: rgb(104, 101, 240);
    line-height: 29px;
    font-weight: 700;
}

/* ============================== details section ========================== */
.details {
    width: 180px;
    height: 50px;
    padding: 40px 110px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    bottom: -28px;
    left: 20px;
}

.details button {
    padding: 7px 20px;
    border: none;
    color: white;
    background-color: rgb(104, 101, 240);
    border-radius: 20px;
    width: fit-content;
    font-weight: 600;
}

.details button:hover {
    background-color: white;
    color: rgb(104, 101, 240);
    box-shadow: 0px 0px 10px 3px rgb(104, 101, 240);

}

.card-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 20px;
    position: relative;
}

/* ============================= positioning images ========================== */
#image-2 {
    margin-top: 70px;
}

#image-3 {
    margin-top: 110px;
}

#image-5 {
    margin-top: 18px;
}

#image-6 {
    margin-top: -10px;
}

#image-7 {
    margin: -10px;
}

#image-8 {
    margin-top: 20px;
}

#image-9 {
    margin-top: 45px;
}

/* ============================= feature image -1- section ============================= */

.feature-image-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    position: relative;

}

.feat-img-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -90px;
}

.feature-1 {
    height: 400px;
    width: 420px;
    position: absolute;
    border-radius: 30px;
    left: 113px;
    bottom: 110px;
}

.feature-bg-1 {
    width: 580px;
}

.feature-image-1-details {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    position: relative;
    left: -30px;
    top: -40px;
}

.feature-image-1-details h1 {
    font-size: 50px;
    font-weight: 800;
}

.feature-image-1-details p {
    font-weight: 600;
    opacity: 0.8;
}

.feature-image-1-details button {
    padding: 11px 25px;
    border: none;
    color: white;
    background-color: rgb(104, 101, 240);
    border-radius: 20px;
    width: fit-content;
    font-weight: 700;
}

.feature-image-1-details button:hover {
    color: rgb(104, 101, 240);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px rgb(104, 101, 240);
}

/* ============================ feature image -2- section ============================ */

.feature-image-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    position: relative;

}

.feat-img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -80px;
}

.feature-2 {
    height: 400px;
    width: 420px;
    position: absolute;
    border-radius: 30px;
    right: 122px;
    bottom: 110px;
}

.feature-bg-2 {
    width: 730px;
    height: 500px;
}

.feature-image-2-details {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    position: relative;
  
}


.feature-image-2-details h1 {
    font-size: 46px;

    font-weight: 800;
}

.feature-image-2-details p {
    font-weight: 600;
    opacity: 0.8;
}

.feature-image-2-details button {
    padding: 11px 25px;
    border: none;
    color: white;
    background-color: rgb(104, 101, 240);
    border-radius: 20px;
    width: fit-content;
    font-weight: 700;
}

.feature-image-2-details button:hover {
    color: rgb(104, 101, 240);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px rgb(104, 101, 240);
}

/* ====================================== subscribe section ================================= */
.subscribe-container {
    width: 50%;
    margin: auto;
    color: white;
    background-color: rgb(104, 101, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    border-radius: 40px;
}

.subscribe-container h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe-container p {
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe-container input {
    display: none;
}

.subscribe-container .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mail button {
    color: rgb(104, 101, 240);
    padding: 10px 23px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
    width: fit-content;
}

.mail button:hover {
    background-color: rgb(104, 101, 240);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px white;
}

label {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 320px;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgba(43, 41, 112, 0.377);
    opacity: 0.7;
    font-size: 15px;
}

/* =============================== footer section ================================== */
.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: 40px;
    position: relative;
    margin-top: 100px;
}

.left-section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: relative;
    bottom: 30px;
}


#footer-logo {
    height: 50px;
    position: relative;
    left: -45px

}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    position: relative;
    left: -10px;
}

.social-media img {
    margin-top: 20px;
    height: 30px;
}

.left-section p {
    margin-top: 20px;
    font-weight: 600;
}

/* ==================================== right section ================================== */
.right-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 100px;
    margin: 30px -30px 100px 300px;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    font-weight: 700;
    line-height: 40px;
    color: black;
}
.links ul li a:hover {
    font-weight: 900;
    line-height: 40px;
    color: black;
}