*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: puppines; */
    /* overflow-x: hidden; */
}

body{
    background-color: #0e0821;
    /* border-radius: 100px; */
    width: 100vw;
    height: auto;  
}

a{
    text-decoration: none;
}

ul{
    text-decoration: none;
}

/* =============== Button ==================== */
.nav__button{
    background-color: #0e0821;
    color: rgb(236, 231, 231);
    padding: 4px 10px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
    width: fit-content;
}

.nav__button:hover{
    background-color: #1e088d;
    border-radius: 10px;
}

/* =================== Nav ======================== */
nav{
    display: flex;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: end;
    padding-top: 5px;
}

.nav__header{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.header-hamburger{
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
    justify-content: start;
}

.nav__header-hamburger{
    height: 15px;
    width: 15px;
}
/* ================ Section ================ */

.nav__section{
    display: flex;
    gap: 20px;
}

.textarea{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    align-items: end;
    justify-content: center;
}
.nav__subtitle1{
    font-size: 25px;
    color: white;
    padding-right: 120px;
    top: 170px;
}

.nav__subtitle1-image{
    height: 25px;
    width: 25px;
}

.nav__subtitle2{
    font-size: 45px;
    color: white;
}

.nav__subtitle3{
    font-size: 20px;
    color: rgb(239, 243, 41);
    padding-right: 195px;
}

          /* =============== Right ==================== */
.image{
    display: flex;
    width: 50%;
    height: 400px;
}

.nav__image{
    height: 400px;
    width: 400px;
    /* padding-left: 20px; */
}

/* =================== Main ====================== */
h3{
    color: aliceblue;
    text-decoration: underline solid blue;
}

.heading-h3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

h4{
    display: flex;
    color: aliceblue;
    justify-content: center;
    position: relative;
    bottom: 12px;
    font-size: 12px;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    gap: 10px;
    justify-content: center;
}

.main-image-1{
    display: grid;
    justify-content: end;
   height: auto;
}

.main-image-2{
    display: grid;
    justify-content: start;
   height: auto;
}
.nav__main-image{
    height: 200px;
    width: 200px;
}

/* =============== Footer =================== */
.nav__footer-contact{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
    margin-bottom: 20px;
}

.nav__footer-image{
    height: 12px;
    width: 12px;
}


/* ================= Media Query =================== */

@media screen and (min-width: 1015px) {
    .header-hamburger{
        display: none;
    }

    nav{
        display: flex;
        justify-content: end;
    } 
}

@media screen and (max-width: 1015px) {
    /* ============= Heading ================== */
    .header{
        display: none;
    }

    nav{
        display: flex;
        justify-content: start;
    } 

    /* ================ Section ================== */
    .nav__section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .textarea{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: end;
    }

    .nav__subtitle1{
        font-size: 15px;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .nav__subtitle2{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    .nav__subtitle3{
        font-size: 13px;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .nav__subtitle1-image{
        height: 25px;
        width: 25px;
    }
    

            /* =========== Right ============ */
    .image{
        width: 100%;
        height: 230px;
        justify-content: center;
    }
    
    .nav__image{
        display: flex;
        height: 200px;
        width: 200px;
        /* position: absolute;
        justify-content: center; */
        /* left: 52%; */
    }

    /*================ Main =================== */
    .main{
        display: flex;
        flex-direction: column;
    }

    .main-image-1{
        display: grid;
        justify-content: center;
       height: auto;
    }
    
    .main-image-2{
        display: grid;
        justify-content: center;
       height: auto;
    }
}